.header {
    color: coral;
    font-size: 25px;
    padding: 30px;
    text-align: center;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif

}

.nav-pages{
    color: rgb(0, 0, 0);
    padding: 30px; 
    text-decoration: none ;
    font-size: 20px;
}

.navbar{
    background-color: #7ac0ca; 
    padding: 30px; 
}

.nav-pages:hover{
    color: white;
}
